<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,600|Open+Sans:400,600,700" rel="stylesheet">
   
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.min.js"></script>
    <script src="../js/chart-js-config.js"></script>
    <title>Spur - A Bootstrap Admin Template</title>
</head>

<body>
    <div class="dash">
        <div class="dash-nav dash-nav-dark">
            <header>
                <a href="../login/login.component.html" class="menu-toggle">
                   
                </a>
                        <font color="yellow"><span>get fit with sportup</span></font>
                        <img src="https://i.imgur.com/pJlQ3FR.png"/>
                         
            </header>
            <nav class="dash-nav-list">
                    <div class="dash-nav-dropdown">
                            <i><img src="https://i.imgur.com/mlOZVYK.png"/><font color="yellow"> USER: </font><font color="white"> {{user.username}} </font></i>
                            
                        </div>
                <a href="../login/login.component.html" class="dash-nav-item">
                    <font color="yellow"><i class="fas fa-home"></i></font> HOME </a>
                
                <div class="dash-nav-dropdown ">
                    <a (click)="vediTraining()" class="dash-nav-item dash-nav-dropdown-toggle">
                        <font color="yellow"><i class="fas fa-trophy"></i></font> Allenamenti </a>
                   
                </div>
                <div class="dash-nav-dropdown">
                    <a href="../login/login.component.html" class="dash-nav-item dash-nav-dropdown-toggle"> 
                        <font color="yellow"> <i class="fas fa-coffee"></i></font>Dieta </a>
                    
                </div>
                <div class="dash-nav-dropdown">
                    <a (click)="performance()" class="dash-nav-item dash-nav-dropdown-toggle">
                        <font color="yellow"><i class="fas fa-trophy"></i></font> Performance </a>
                    
                </div>
                <div class="dash-nav-dropdown">
                    <a (click)="biomedical()" class="dash-nav-item dash-nav-dropdown-toggle">
                        <font color="yellow"> <i class="fas fa-heart"></i></font> Biomedical </a>
                    
                </div>
                
                <div class="dash-nav-dropdown">
                        <a href="../login/login.component.html" class="dash-nav-item dash-nav-dropdown-toggle">
                            <font color="yellow"><i class="fas fa-user-alt"></i></font> Community </a>
                        
                    </div>
                    <div class="dash-nav-dropdown">
                            <a href="../login/login.component.html" class="dash-nav-item dash-nav-dropdown-toggle">
                                <font color="yellow"><i class="fas fa-calendar-alt"></i></font> Eventi </a>
                            
                        </div>
                <div class="dash-nav-dropdown">
                    
                    <a href="../login/login.component.html" class="dash-nav-item dash-nav-dropdown-toggle">
                            <font color="yellow"><i class="fas fa-cog"></i></font> Setting </a>
                    <div class="dash-nav-dropdown-menu">
                        <a href="../login/login.component.html" class="dash-nav-dropdown-item">
                            <i class="fas fa-calendar-user-circle"></i>Profilo</a>
                        <a href="../login/login.component.html" class="dash-nav-dropdown-item">
                            <i class="fas fa-calendar-rss"></i>Collega dispositivo</a>
                        
                    </div>
                </div>
                <div class="dash-nav-dropdown">
                    <a href="../login/login.component.html" class="dash-nav-item dash-nav-dropdown-toggle">
                        <font color="red"><i class="fas fa-times"></i></font> Logout </a>
                </div>
                
            </nav>
        </div>
        <div class="dash-app">
            <header class="dash-toolbar">
                <a href="../login/login.component.html" class="tools-item">
                        <i class="fas fa-bell"></i>
                        <i class="tools-item-count">4</i>
                </a>
                <a href="../login/login.component.html" class="searchbox-toggle">
                    <i class="fas fa-search"></i>
                </a>
                <form class="searchbox" action="#!">
                    <a href="../login/login.component.html" class="searchbox-toggle"> <i class="fas fa-arrow-left"></i> </a>
                    <button type="submit" class="searchbox-submit" > <i class="fas fa-search"></i> </button>
                    <input type="text" name="search" class="searchbox-input" placeholder="type to search">
                </form>
                <a href="../login/login.component.html" class="menu-toggle">
                    <i class="fas fa-microphone"></i>
                </a>
                <div class="tools">
                        <img src="https://i.imgur.com/PoP8uam.png"/>
                </div>
            </header>
            <main class="dash-content">
                <div class="container-fluid">
                    <div class="row dash-row">
                        <!--
                            C'ERANO COMPONENTS COLORATE
                        -->   
                    </div>
                    <div class="row">
                    <div class="col-xl-6">
                            <div class="card spur-card">
                                <div class="card-header">
                                    <div class="spur-card-icon">
                                        <font color="#056184"> <i class="fas fa-heart"></i></font>
                                    </div>
                                    <div class="spur-card-title"> BIOMEDICAL DATA ATTUALI </div>
                                </div>
                                <div class="card-body ">
                                    <div class="notifications">
                                        <a href="../login/login.component.html" class="notification">
                                            
                                            <div class="notification-text">hearthbeat</div>
                                            <span class="notification-time">{{biomedicalData.hearthbeat}}</span>
                                        </a>
                                        <a href="../login/login.component.html" class="notification">
                                            
                                            <div class="notification-text">blood pressure</div>
                                            <span class="notification-time">{{biomedicalData.bloodPressure}}</span>
                                        </a>
                                        <a href="../login/login.component.html" class="notification">
                                            
                                            <div class="notification-text">height</div>
                                            <span class="notification-time">{{biomedicalData.height}}</span>
                                        </a>
                                        <a href="../login/login.component.html" class="notification">
                                            
                                            <div class="notification-text">weight</div>
                                            <span class="notification-time">{{biomedicalData.weight}}</span>
                                        </a>
                                        <a href="../login/login.component.html" class="notification">
                                            
                                            <div class="notification-text">fat mass</div>
                                            <span class="notification-time">{{biomedicalData.fatMass}}</span>
                                        </a>
                                        <a href="../login/login.component.html" class="notification">
                                            
                                            <div class="notification-text">fat free mass</div>
                                            <span class="notification-time">{{biomedicalData.fatFreeMass}}</span>
                                        </a>
                                       
                                    </div>
                                </div>
                            </div>
                        </div>
                   
                     <div class="col-xl-6">
                            <div class="card spur-card">
                                <div class="card-header">
                                    <div class="spur-card-icon">
                                        <font color="#056184"> <i class="fas fa-trophy"></i></font>
                                    </div>
                                    <div class="spur-card-title"> PERFORMANCE ATTUALI </div>
                                </div>
                                <div class="card-body ">
                                    <div class="notifications">
                                        <a href="../login/login.component.html" class="notification">
                                            
                                            <div class="notification-text">max corsa min</div>
                                            <span class="notification-time">{{perf.maxCorsaMin}}</span>
                                        </a>
                                        <a href="../login/login.component.html" class="notification">
                                            
                                            <div class="notification-text">max flessioni</div>
                                            <span class="notification-time">{{perf.maxFlessioni}}</span>
                                        </a>
                                        <a href="../login/login.component.html" class="notification">
                                            
                                            <div class="notification-text">max addominali</div>
                                            <span class="notification-time">{{perf.maxAddominali}}</span>
                                        </a>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xl-6">
                            <div class="card spur-card">
                                <div class="card-header">
                                    <div class="spur-card-icon">
                                        <font color="#056184"><i class="fas fa-chart-bar"></i></font>
                                    </div>
                                    <div class="spur-card-title"> Grafico Biomedical Data </div>
                                <!--
                                    <div class="spur-card-menu">
                                        <div class="dropdown show">
                                        
                                            <a class="spur-card-menu-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                                                <a class="dropdown-item" href="../login/login.component.html">Action</a>
                                                <a class="dropdown-item" href="../login/login.component.html">Another action</a>
                                                <a class="dropdown-item" href="../login/login.component.html">Something else here</a>
                                            </div>
                                        
                                        </div>
                                    </div>
                                -->
                                </div>
                                <div class="flex" routerLink="../../biomedicalGraph">
                                    <div class="flex-item">
                                      <div style="display: block;">
                                      <canvas baseChart width="800" height="400"
                                                  [datasets]="lineChartData" 
                                                  [labels]="lineChartLabels"
                                                  [options]="lineChartOptions"
                                                  [colors]="lineChartColors"
                                                  [legend]="lineChartLegend"
                                                  [chartType]="lineChartType"
                                                  (chartHover)="chartHovered($event)"
                                                  (chartClick)="chartClicked($event)"></canvas>
                                      </div>
                                    </div>
                                    <!--
                                    <div class="flex-item">
                                        
                                      <table class="table table-responsive table-condensed">
                                        <tr>
                                          <th *ngFor="let label of lineChartLabels">{{label}}</th>
                                        </tr>
                                        <tr *ngFor="let d of lineChartData; let i=index" [class]="'line-'+i">
                                          <td *ngFor="let label of lineChartLabels; let j=index">{{d && d.data[j]}}</td>
                                        </tr>
                                      </table>
                                    </div>
                                -->
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6">
                            <div class="card spur-card">
                                <div class="card-header">
                                    <div class="spur-card-icon">
                                        <font color="#056184"> <i class="fas fa-coffee"></i></font>
                                    </div>
                                    <div class="spur-card-title"> DIETA DEL GIORNO </div>
                                </div>
                                <div class="card-body ">
                                    <div class="notifications">
                                        <div class="notification">
                                            <div class="notification-icon">
                                                <i class="fas fa-beer"></i>
                                            </div>
                                            <div class="notification-text">COLAZIONE</div>
                                            <span class="notification-time">{{dailyDiet.breakfast}}</span>
                                        </div>
                                        <div  class="notification">
                                            <div class="notification-icon">
                                                <i class="fas fa-beer"></i>
                                            </div>
                                            <div class="notification-text">SPUNTINO</div>
                                            <span class="notification-time">{{dailyDiet.snack}}</span>
                                        </div>
                                        <div  class="notification">
                                            <div class="notification-icon">
                                                <i class="fas fa-beer"></i>
                                            </div>
                                            <div class="notification-text">PRANZO</div>
                                            <span class="notification-time">{{dailyDiet.lunch}}</span>
                                        </div>
                                        <div  class="notification">
                                            <div class="notification-icon">
                                                <i class="fas fa-beer"></i>
                                            </div>
                                            <div class="notification-text">MERENDA</div>
                                            <span class="notification-time">{{dailyDiet.snackAfternoon}}</span>
                                        </div>
                                        <div  class="notification">
                                            <div class="notification-icon">
                                                <i class="fas fa-beer"></i>
                                            </div>
                                            <div class="notification-text">CENA</div>
                                            <span class="notification-time">{{dailyDiet.dinner}}</span>
                                        </div>
                                        <div class="notifications-show-all">
                                            <a href="../login/login.component.html">Show all</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="../js/spur.js"></script>
</body>

</html>