
<header>
  <h1>HOME ADMIN</h1>
</header>
<aside>
  <h3>Lista Utenti</h3>
</aside>
<button class="au-btn au-btn--block au-btn--green m-b-20" type="submit" (click)="getUsersList()">LISTA</button>

<h4> id_user username password type</h4>

  <ul class="userList">
    <li *ngFor="let user of userList ; let i = index">
      <span> {{userList[i].idUser}} </span> {{userList[i].username}} <span> {{userList[i].password}} </span> {{userList[i].type}}
    </li>
  </ul>


<div>
  <form>
      <div class="form-group">
          <label>userId</label> <input type="number" name="id" placeholder="Id utente" [(ngModel)]="id">
      </div>
      <div class="form-group">
          <label>type</label> <input type="text" name="type" placeholder="type" [(ngModel)]="type">
      </div>
      <button type="submit" (click)="assignType(f)">Assign type</button>
  </form>
</div>

  

  <h3>ELIMINA UTENTE</h3>
  <div>

  <form>
  <div class="form-group">
    <label>userId</label> <input type="number" name="id" placeholder="Id utente" [(ngModel)]="id1">
  </div>
  <button type="submit" (click)="delete(f)">DELETE</button>

</form>
</div>

