
<div>
  <form #f="ngForm">
      <div class="form-group">
          <label>Username</label> <input class="au-input au-input--full" type="username" name="username"
              placeholder="Username" ngModel>
      </div>
      <div class="form-group">
          <label>Password</label> <input class="au-input au-input--full" type="password" name="password"
              placeholder="Password" ngModel>
      </div>
      
      <button class="au-btn au-btn--block au-btn--green m-b-20" type="submit" (click)="login(f)">sign
          in</button>
  </form>

  <a href="/register">Click here to Register</a>
</div>