
    <header>
        <h1>BIOMEDICAL DATA</h1>
      </header>  
      <div *ngIf="biomedicalData">
          
    <tr class="biomedicalData">
     <span>{{biomedicalData.idBiomedicalData}} </span> 
     <span>{{biomedicalData.bloodPressure}} </span>
     <span> {{biomedicalData.hearthbeat}} </span> 
     <span>{{biomedicalData.height}} </span> 
     <span>{{biomedicalData.weight}} </span>
     <span>{{biomedicalData.fatFreeMass}} </span>
     <span>{{biomedicalData.fatMass}} </span>
    
    </tr>
    </div>
    


