
<h1>HOME TRAINER</h1>

<form>
    <button routerLink="../trainerTraining">TRAINING</button>
</form>

<form >
    <button routerLink="../trainerTeam">TEAM</button>
</form>

<form>
      <label>idPlayer</label> <input type="number" name="id"
          placeholder="idPlayer" [(ngModel)]="id">
    
    <button class="au-btn au-btn--block au-btn--green m-b-20" type="submit" (click)="performance()">PERFORMANCE</button>
 
<button class="au-btn au-btn--block au-btn--green m-b-20" type="submit" (click)="biomedicalData()">BIOMEDICAL DATA</button>
</form>

   

     